# Игнорировать виртуальное окружение
.venv/
venv/

# Игнорировать SQLite базу данных
db.sqlite3

# Игнорировать скомпилированные Python файлы
*.pyc
__pycache__/

# Игнорировать настройки PyCharm
.idea/

# Игнорировать миграции, если они не нужны
*/migrations/*.pyc
